/**
 * filter.wxs
 */

/**
 * 用于处理文本的换行以及首段空格
 * @param text
 */
var format = function(text) {
  if (!text) return;
  var reg = getRegExp("\\\\n", "g");
  return text.replace(reg, "\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
};

/**
 * 用于限制数组长度
 * @param array 
 * @param length 
 */
var limit = function(array, length) {
  if (!array) return;
  return array.slice(0, length);
};

/**
 * 输出书籍详细信息
 * @param data 
 */
var makeString = function(data) {
  var str = "";
  if(data.author) {
      for(var i = 0; i < data.author.length; ++i) {
          str+= (data.author[i]+" ");
      }
  }

  if(data.pubdate) {
      str+= "/ ";
      str+= data.pubdate;
  }

  if(data.publisher) {
      str+= " / ";
      str+= data.publisher
  }
  return str;
}

module.exports = {
  format: format,
  limit: limit,
  makeString: makeString
};
